/* Info Section */
.info-section {
    width: 60%;
    padding: 30px 35px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .info-section h2 {
    color: #263859;
    font-size: 1.8em;
    margin-bottom: 20px;
    border-left: 4px solid #ffd700;
    padding-left: 15px;
    font-weight: 600;
  }
  
  .info-section p {
    margin-bottom: 15px;
    color: #555;
  }
  
  .info-section ul {
    list-style-type: disc;
    padding-left: 20px;
    color: #333;
    line-height: 1.8;
  }
  
  .info-section li {
    margin-bottom: 10px;
    color: #666;
  }
  
  .info-section:hover {
    transform: translateY(-5px);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
  }
  